<h3 class="text-danger mt-5 text-center">Add My New Product</h3>
<div class="container mt-5">
    <div class="col-lg-8 form">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="name">
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="text-danger">
                    <div *ngIf="f.name.errors?.['required']">
                        <small>This is a required field.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Price</label>
                <input type="number" class="form-control" id="exampleInputPassword1" formControlName="price">
                <div *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)" class="text-danger">
                    <div *ngIf="f.price.errors?.['required']">
                        <small>This is a required field.</small>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Image1</label>
                <input type="file" class="form-control mb-2" id="exampleInputEmail1" (change)="changeImage1($event)">
                <img src="{{img}}" alt="" width="50px">
                <div *ngIf="f.img.errors">
                    <small class="text-danger">This is a required field.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Image2</label>
                <input type="file" class="form-control mb-2" id="exampleInputEmail1" (change)="changeImage2($event)">
                <img src="{{img2}}" alt="" width="50px">
                <div *ngIf="f.img2.errors">
                    <small class="text-danger">This is a required field.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Image3</label>
                <input type="file" class="form-control mb-2" id="exampleInputEmail1" (change)="changeImage3($event)">
                <img src="{{img3}}" alt="" width="50px">
                <div *ngIf="f.img3.errors">
                    <small class="text-danger">This is a required field.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Forshop_id</label>
                <div class="form-group">
                    <select class="form-control" name="" id="" formControlName="id_category">
                        <option value="" *ngFor="let item of category1" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Gender_id</label>
                <div class="form-group">
                    <select class="form-control" name="" id="" formControlName="id_gender">
                        <option value="" *ngFor="let item of category2" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Player_id</label>
                <div class="form-group">
                    <select class="form-control" name="" id="" formControlName="id_player">
                        <option value="" *ngFor="let item of category3" value="{{item.id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-success mt-3 mb-5" [disabled]="!formData.valid">Add New</button>
        </form>
    </div>
</div>