<div class="header header-shadow">
    <div class="app-header-logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    data-class="closed-sidebar">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header-content">
        <div class="app-header-left">
            <div class="search-wrapper" id="1">
                <div class="input-holder">
                    <input type="text" class="search-input" placeholder="Type to search">
                    <button class="search-icon" (click)="addclass()"><span><i
                                class="fa-solid fa-magnifying-glass"></i></span></button>
                </div>
                <button class="close" (click)="removeclass()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <ul class="header-megamenu nav">
                <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fa-solid fa-briefcase"></i> Mega Menu
                        <i class="fa fa-angle-down opacity-5"></i>
                    </a>
                </li>
                <li class="btn-group nav-item">
                    <a class="nav-link">
                        <span class="badge badge-pill badge-danger ml-0 mr-2">4</span> Settings
                        <i class="fa fa-angle-down opacity-5"></i>
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link">
                        <i class="fa-solid fa-gear"></i>Projects
                        <i class="fa fa-angle-down ml-2 opacity-5"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="app-header-right">
            <div class="header-dots">
                <div class="dropdown">
                    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                        class="p-0 mr-2 btn btn-link">
                        <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                            <span class="icon-wrapper-bg bg-primary"></span>
                            <i class="fa-solid fa-list-ul"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown">
                    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                        class="p-0 mr-2 btn btn-link">
                        <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                            <span class="icon-wrapper-bg bg-danger"></span>
                            <i class="fa-solid fa-bell text-danger"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown">
                    <button type="button" data-toggle="dropdown" class="p-0 mr-2 btn btn-link" aria-expanded="false">
                        <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                            <span class="icon-wrapper-bg bg-focus"></span>
                            <span class="language-icon opacity-8 flag large DE"></span>
                        </span>
                    </button>
                </div>
                <div class="dropdown">
                    <button type="button" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false"
                        class="p-0 btn btn-link dd-chart-btn">
                        <span class="icon-wrapper icon-wrapper-alt rounded-circle">
                            <span class="icon-wrapper-bg bg-success"></span>
                            <i class="fa-solid fa-earth-europe text-success"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                    <img width="42" class="rounded-circle image"
                                        src="https://i.pinimg.com/474x/db/fb/36/dbfb369ad0c7688ddf7db1bf31998b87.jpg"
                                        alt="">
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                            </div>
                        </div>
                        <div class="widget-content-left  ml-3 header-user-info">
                            <div class="widget-heading"> Alina Mclourd </div>
                            <div class="widget-subheading"> CEO </div>
                        </div>
                        <div class="widget-content-right header-user-info ml-3">
                            <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header-btn-lg">
                    <button type="button" class="hamburger hamburger--elastic open-right-drawer">
                        <i class="fa-solid fa-arrow-right-to-bracket" (click)="logout()"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>