<div class="contact-bg">
    <div class="container">
        <div class="contact">
            <div class="contact-left">
                <a href="">FAQ & CONTACT</a>
                <a href="">DELIVERY & SHIPPING</a>
                <a href="">CHECK ORDER</a>
            </div>
            <div class="contact-right">
                <a href="https://www.youtube.com/mancity">
                    <img src="https://shop.mancity.com/on/demandware.static/-/Sites-MAN-Library/default/dw00134bd0/images/footer/social/youtube-desktop.svg"
                        alt="">
                </a>
                <a href="https://www.facebook.com/mancity/">
                    <img src="https://shop.mancity.com/on/demandware.static/-/Sites-MAN-Library/default/dw28cb5828/images/footer/social/facebook-desktop.svg"
                        alt="">
                </a>
                <a href="https://twitter.com/mancity">
                    <img src="https://shop.mancity.com/on/demandware.static/-/Sites-MAN-Library/default/dw4fb8c207/images/footer/social/twitter-desktop.svg"
                        alt="">
                </a>
                <a href="https://www.instagram.com/mancity/">
                    <img src="https://shop.mancity.com/on/demandware.static/-/Sites-MAN-Library/default/dw40406e90/images/footer/social/instagram-desktop.svg"
                        alt="">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="footer-about">
        <div class="about-left">
            <ul>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Cookie Policy</a></li>
                <li><a href="">Return Policy</a></li>
            </ul>
        </div>
        <div class="about-right">
            <img src="https://shop.mancity.com/on/demandware.static/-/Sites-MAN-Library/default/dwad1998f0/images/footer/payment-methods.svg"
                alt="">
            <p>© 2022 stichd Sportmerchandising bv</p>
        </div>
    </div>
</div>